@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

* {
  font-family: "Inconsolata", monospace;
}

div,
.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
